﻿@inject NavigationManager NavigationManager
@page "/MyAccountPage"

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Căn giữa các frame theo chiều ngang */
        gap: 20px; /* Khoảng cách giữa các frame */
    }

    .header-frame {
        display: flex;
        align-items: center;
        min-height: 250px;
        top: 0;
    }

    .menu-btn {
        width: 29.504px;
        height: 20.652px;
        flex-shrink: 0;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 20px;
    }

    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .phone-btn {
        width: 13.96px;
        height: 13.983px;
    }


    .edit-button {
        background-color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: -50px;
        margin-right: 5px;
    }

    .edit-icon {
        width: 31px;
        height: 31px;
    }

    .history-btn,
    .language-btn {
        width: 380px;
        height: 59px;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        position: relative;
        display: flex;
        text-align: center;
        justify-content: flex-start; /*căn chữ về phía trái*/
        align-items: center;
    }

        .history-btn:hover,
        .language-btn:hover {
            background-color: #3422f2;
            color: #fff;
        }

    .icon {
        margin-right: 10px;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        left: 10px;
        top: 50%;
        transform: translateX(-20%);
    }

    .icon2 {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 20px;
        width: 5.729px;
        height: 10.161px;
    }

    h3 {
        font-size: 20px;
        text-align: center;
    }

    h4 {
        font-size: 16px;
    }


    .logout-btn {
        width: 100%;
        height: 55px;
        background-color: #3422f2;
        color: #fff;
        cursor: pointer;
        padding: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        text-align: center;
        border-radius: 50px;
        position: fixed;
        bottom: 0;
    }

    .frame {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center; /* Căn giữa theo chiều ngang */
        justify-content: center; /* Căn giữa theo chiều dọc */
        gap: 20px; /* Khoảng cách giữa các frame */
        margin-bottom: 20px;
    }

        .frame:nth-child(1) {
            height: 50px;
            color: black;
            font-weight: bold;
            top: 0;
        }

        .frame:nth-child(2) {
            color: black;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .frame:nth-child(3) {
            color: black;
            width: fit-content;
            height: fit-content;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
        }

        .frame:nth-child(4) {
            background-color: none;
            bottom: 0;
        }

</style>

<div class="container">
    <!--header-->
    <div class="frame">
        <div class="header-frame">
            <button class="menu-btn" @onclick="HandleMenu">
                <img src="/images/menu-icon.jpg" alt="menu">
            </button>
            <h3>Thông tin cá nhân</h3>
        </div>
    </div>
    <!--info-->
    <div class="frame">
        <img src="/images/avt.jpg" alt="Avatar" class="avatar">
        <div class="info">
            <h4 id="name">Hoten</h4>
            <p id="phone" class="phone">
                <img src="/images/phone.jpg" class="phone-btn">0987654321
            </p>
        </div>
        <button class="edit-button" @onclick="HandleEdit">
            <img src="/images/edit-icon.jpg" alt="edit-button" class="edit-icon">
        </button>
    </div>

    <!--quickLink-->
    <div class="frame">
        <h4>Liên kết nhanh</h4>

        <button class="history-btn" @onclick="HandleHistory">
            <img src="/images/history-icon.jpg" alt="Icon" class="icon">
            Lịch sử
            <img src="/images/next-icon.jpg" alt="Icon" class="icon2">
        </button>


        <button class="language-btn" @onclick="HandleLanguage">
            <img src="/images/language-icon.jpg" alt="Icon" class="icon">
            Ngôn ngữ
            <img src="/images/next-icon.jpg" alt="Icon" class="icon2">
        </button>
    </div>
    <!--footer-->
    <div class="frame">
        <button class="logout-btn" @onclick="HandleLogout">Đăng xuất</button>
    </div>

</div>


@code {
    private string @name = "Ho Ten";
    private string @phone = "0987654321";

    private void HandleMenu()
    {

    }

    private void HandleEdit()
    {
        NavigationManager.NavigateTo("/EditAccountPage");
    }
    private void HandleHistory()
    {
        // NavigationManager.NavigateTo("/counter");
    }
    private void HandleLanguage()
    {
        // NavigationManager.NavigateTo("/counter");
    }
    private void HandleLogout()
    {

    }
}