﻿@inject NavigationManager NavigationManager

<style>
    .form-group {
        margin-bottom: 20px;
    }

    .input-field {
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        border: 1px solid rgba(209, 209, 209, 1);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        color: rgba(0, 0, 0, 1);
    }

        .input-field::placeholder {
            color: rgba(165, 165, 165, 1);
        }

    .checkbox-label {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
    }

        .checkbox-label a {
            margin-left: 5px;
            color: blue;
            text-decoration: none;
        }

    .btn-primary {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: blue;
        color: white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

        .btn-primary:hover {
            color: white;
            background-color: blue;
        }

        .btn-primary:not(:hover) {
            color: white;
            background-color: blue;
        }

    .alert-danger {
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 4px;
        color: #721c24;
    }

    .TermsOfUse-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .TermsOfUse-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .center {
        display: flex;
        justify-content: center;
    }


    .phone-container {
        width: 90%;
        max-width: 720px;
        height: 95%;
        max-height: 1280px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .submit-button {
        width: 100%;
        height: fit-content;
        padding: 9px;
        border: none;
        border-radius: 20px;
        background-color: rgba(52, 34, 242, 1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        color: white;
    }

    .header-logo {
        width: 100%;
        height: fit-content;
        min-height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

        .header-logo img {
            width: 70%;
            height: auto;
        }

    .main-content {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    h3 {
        font-size: 36px;
        font-weight: 350;
        color: black;
    }

</style>

<div class="center">
    <div class="phone-container">
        <div class="header-logo">
            <img src="/images/big-logo.jpg" alt="logo">
            <h3>Đăng nhập</h3>
        </div>

        <div class="main-content">
            <EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <ValidationMessage For="@(() => loginModel.PhoneNumber)" style="margin: 0px 0px 0px 15px; font-size: 12px" />
                    <InputText id="phone" class="input-field" placeholder="Số điện thoại" @bind-Value="@loginModel.PhoneNumber" />
                </div>

                <div class="form-group">
                    <ValidationMessage For="@(() => loginModel.Password)" style="margin: 0px 0px 0px 15px; font-size: 12px" />
                    <InputText id="password" type="password" placeholder="Mật khẩu" class="input-field" @bind-Value="@loginModel.Password" />
                </div>

                <div class="center">
                    <button type="submit" class="submit-button" @onclick="HandleLogin">Đăng nhập</button>
                </div>
            </EditForm>
        </div>

        <div class="form-group text-center">
            <label>
                Nếu chưa có tài khoản, <a href="/">đăng ký</a>.
            </label>
        </div>
    </div>
</div>

@code {
    private LoginModel loginModel = new LoginModel();


    private void HandleValidSubmit()
    {
        NavigationManager.NavigateTo("/fetchdata");
    }

    private void HandleLogin()
    {

    }

    private class LoginModel
    {
        [Required(ErrorMessage = "Vui lòng nhập số điện thoại")]
        [RegularExpression(@"^0[0-9]{9}$", ErrorMessage = "Số điện thoại không hợp lệ")]
        public string PhoneNumber { get; set; }

        [Required(ErrorMessage = "Vui lòng nhập mật khẩu")]
        [MinLength(6, ErrorMessage = "Mật khẩu phải có ít nhất 6 ký tự")]
        public string Password { get; set; }
    }
}

