﻿@using Library.Shared;
@inject NavigationManager NavigationManager

<style>
    .form-group {
        margin-bottom: 20px;
    }

    .input-field {
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        border: 1px solid rgba(209, 209, 209, 1);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        color: rgba(0, 0, 0, 1);
    }

    .input-field::placeholder {
        color: rgba(165, 165, 165, 1);
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
    }

    .checkbox-label a {
        margin-left: 5px;
        color: blue;
        text-decoration: none;
    }

    .btn-primary {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: blue;
        color: white;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

    .btn-primary:hover {
        color : white;
        background-color: blue;
    }

    .btn-primary:not(:hover) {
        color : white;
        background-color: blue;
    }

    .alert-danger {
        margin-bottom: 20px;
        padding: 10px 20px;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 4px;
        color: #721c24;
    }

    .TermsOfUse-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .TermsOfUse-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .center {
        display: flex;
        justify-content: center;
    }


    .phone-container {
        width: 90%;
        max-width: 720px;
        height: 95%;
        max-height: 1280px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .submit-button {
        width: 100%;
        height: fit-content;
        padding: 9px;
        border: none;
        border-radius: 20px;
        background-color: rgba(52, 34, 242, 1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        color: white;
    }

    .header-logo {
        width: 100%;
        height: fit-content;
        min-height: 250px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

        .header-logo img {
            width: 70%;
            height: auto;
        }

    .main-content {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    h3 {
        font-size: 36px;
        font-weight: 350;
        color: black;
    }

</style>

<div class="center">
    <div class="phone-container">
        <div class="header-logo">
            <img src="/images/big-logo.jpg" alt="logo">
            <h3>Đăng ký</h3>
        </div>

        <div class="main-content">
            <EditForm Model="@registrationModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="form-group">
                        <ValidationMessage For="@(() => registrationModel.Name)" style="margin: 0px 0px 0px 15px; font-size: 12px" />
                    <InputText id="name" class="input-field" placeholder="Họ và tên" @bind-Value="@registrationModel.Name" />
                </div>

                <div class="form-group">
                        <ValidationMessage For="@(() => registrationModel.PhoneNumber)" style="margin: 0px 0px 0px 15px; font-size: 12px" />
                    <InputText id="phone" class="input-field" placeholder="Số điện thoại" @bind-Value="@registrationModel.PhoneNumber" />
                </div>

                <div class="form-group">
                        <ValidationMessage For="@(() => registrationModel.Password)" style="margin: 0px 0px 0px 15px; font-size: 12px" />
                    <InputText id="password" type="password" placeholder="Mật khẩu" class="input-field" @bind-Value="@registrationModel.Password" />
                </div>
                <div class="form-group">
                    <label>
                        <InputCheckbox @bind-Value="@registrationModel.AgreeToTerms" />
                        Bạn có đồng ý với <a href="#" @onclick:preventDefault @onclick="ShowTermsOfUse">điều khoản sử dụng</a>?
                    </label>
                </div>

                @if (showTermsOfUse)
                {
                    <div class="TermsOfUse-overlay">
                        <div class="TermsOfUse-content">
                            <!-- Nội dung pop-up -->
                            <h4>Điều khoản sử dụng</h4>
                            <p>...</p>
                            <button type="button" class="btn-primary" @onclick="CloseTermsOfUse">Đóng</button>
                        </div>
                    </div>
                }

                @if (!isAgreeToTerms)
                {
                    <div class="alert alert-danger">
                        Vui lòng đồng ý với điều khoản sử dụng.
                    </div>
                }

                <div class="center">
                    <button type="submit" id="submit-btn" class="submit-button" @onclick="HandleRegister">Đăng ký</button>
                </div>
            </EditForm>
        </div>

        <div class="form-group text-center">
            <label>
                Nếu đã có tài khoản, <a href="/login">đăng nhập</a>.
            </label>
        </div>

        @if (isError)
        {
            <div class="TermsOfUse-overlay">
                <div class="TermsOfUse-content">
                    <!-- Nội dung pop-up -->
                    <h4>Thông báo</h4>
                    <p>@msgError</p>
                    <button type="button" class="btn-primary" @onclick="closeErrorPopup">Đóng</button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private RegistrationModel registrationModel = new RegistrationModel();
    private bool showTermsOfUse = false;
    private bool isAgreeToTerms = true;
    private HttpClient httpClient;
    private string responseContent;
    private bool isError = false;
    private string msgError;

    public class UserInf
    {
        public string objectDataId { get; set; } = "";
        public string name { get; set; } = "";
        public string phone { get; set; } = "";
        public string email { get; set; } = "";
        public string password { get; set; } = "";
    }

    protected override void OnInitialized()
    {
        // Khởi tạo HttpClient
        httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri(new ServerURL().sURL); // Thay đổi địa chỉ URL của server của bạn
    }

    private void showErrorPopup()
    {
        isError = true;
    }

    private void closeErrorPopup()
    {
        isError = false;
    }

    private async Task RegisterHttp(string id, string name, string phone, string password)
    {
        try
        {
            // Tạo dữ liệu cần gửi dưới dạng JSON
            var requestData = new UserInf(); requestData.objectDataId = id; requestData.name = name; requestData.phone = phone; requestData.password = password;
            var json = System.Text.Json.JsonSerializer.Serialize(requestData);
            Console.WriteLine(json);
            var content = new StringContent(json, System.Text.Encoding.UTF8, "application/json");

            // Gửi yêu cầu POST đến server và nhận phản hồi
            HttpResponseMessage response = await httpClient.PostAsync("/api/TaxicenterProfile", content); // Thay đổi URL endpoint của bạn

            if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                msgError = await response.Content.ReadAsStringAsync();
                showErrorPopup();
            }

            // Đảm bảo yêu cầu thành công (status code 200-299)
            response.EnsureSuccessStatusCode();

            //// Đọc nội dung phản hồi
            //responseContent = await response.Content.ReadAsStringAsync();

            NavigationManager.NavigateTo("/login");
        }
        catch (HttpRequestException ex)
        {
            // Xử lý các lỗi yêu cầu HTTP (nếu có)
            responseContent = "Error: " + ex.Message;
            Console.WriteLine(responseContent);
        }
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("aaaa1");
        RegisterHttp("U002", registrationModel.Name, registrationModel.PhoneNumber, registrationModel.Password);
    }

    private void HandleRegister()
    {
        if (!registrationModel.AgreeToTerms)
        {
            isAgreeToTerms = false;
            return;
        }
        else
        {
            isAgreeToTerms = true;
            return;
        }

        Console.WriteLine("aaaa2");
    }

    private void ShowTermsOfUse()
    {
        showTermsOfUse = true;
    }

    private void CloseTermsOfUse()
    {
        showTermsOfUse = false;
    }

    private class RegistrationModel
    {
        [Required(ErrorMessage = "Vui lòng nhập tên")]
        public string Name { get; set; }

        [Required(ErrorMessage = "Vui lòng nhập số điện thoại")]
        [RegularExpression(@"^0[0-9]{9}$", ErrorMessage = "Số điện thoại không hợp lệ")]
        public string PhoneNumber { get; set; }

        [Required(ErrorMessage = "Vui lòng nhập mật khẩu")]
        [MinLength(6, ErrorMessage = "Mật khẩu phải có ít nhất 6 ký tự")]
        public string Password { get; set; }

        public bool AgreeToTerms { get; set; }
    }
}
