﻿@inject GpsTrackingServices GpsServices
@inject BookingServices BookingServices
@inject IJSRuntime JSRuntime
@using Library.Shared;
@using Microsoft.JSInterop;
@using UserLibrary.Services;
@implements IAsyncDisposable

<h3 class="h3 mt-2">Test</h3>
<p>@numOfDrivers Drivers Connection</p>
<button @onclick="Booking">Test Booking</button>
<p>@bookingState</p>

@code {
	int numOfDrivers;
	BookingRequestItem.StateType bookingState;
	private List<GpsItem> gpsItems = new List<GpsItem>();

	protected override async Task OnInitializedAsync()
	{
		GpsServices.OnDriverCountUpdated += OnDriverCountUpdated;
		GpsServices.OnReceivedItem += OnReceivedItem;
		BookingServices.OnReceivedState += OnReceivedState;
		await GpsServices.StartConnection();
		await BookingServices.StartConnection();
	}

	void OnDriverCountUpdated(int count)
	{ 
		Console.WriteLine(count);
		numOfDrivers = count;
		InvokeAsync(StateHasChanged);
	}

	void OnReceivedItem(GpsItem gpsItem)
	{
		gpsItems.Add(gpsItem);
		InvokeAsync(StateHasChanged);
	}

	///  TODO : việc này nên được gọi khi tắt chương trình
	/// 
	public async ValueTask DisposeAsync() //gọi khi rời page
	{
		GpsServices.OnReceivedItem -= OnReceivedItem;
		GpsServices.OnDriverCountUpdated -= OnDriverCountUpdated;
		BookingServices.OnReceivedState -= OnReceivedState;
		await GpsServices.LeaveGroup();
		await GpsServices.DisposeAsync();
		await BookingServices.LeaveGroup();
		await BookingServices.DisposeAsync();
	}

	void OnReceivedState(BookingRequestItem item)
	{
		bookingState = item.state;
		switch (bookingState)
		{
			case BookingRequestItem.StateType.Completed:
			case BookingRequestItem.StateType.Cancel:
				bookingState = BookingRequestItem.StateType.Pending;
				BookingServices.LeaveCurrentTripProcessGroup(item.BookingID);
				break;
			case BookingRequestItem.StateType.Accepted:
				BookingServices.JoinCurrentTripProcessGroup(item.BookingID);
				break;
			default:
				break;
		}
		InvokeAsync(StateHasChanged);
	}

	public void Booking()
	{
		BookingRequestItem newRequest = new BookingRequestItem();
		newRequest.BookingID = "B000001";
		newRequest.state = BookingRequestItem.StateType.Pending;
		newRequest.phoneNumber = "0123456789";
		newRequest.fromLatitude = 10.75992762955413;
		newRequest.fromLongitude = 106.68224756696853;
		newRequest.toLatitude = 10.772264705271066;
		newRequest.toLongitude = 106.65793398230964;
		Console.WriteLine(newRequest.BookingID);

		BookingServices.SendBookingRequestToDriver(newRequest);
	}
}